<div class="row-fluid">
  <div class="span12 well-inverse concert-area" data-role="concert-description">
    <div class="row-fluid">
      <div class="span8 offset2 text-center">
        <% if @is_same_user %>
        <div class="row-fluid">
          <%= link_to 'GO LIVE', '#', class: 'btn btn-rmys' %>
        </div>
        <br/>
        <% end %>
        <h4 class="row-fluid">
          Concert
        </h4>

      </div>             
      <div class="span2">
        <div class="row-fluid">
          <%= link_to("Cancel", concert_path(concert), method: :delete, :class => "btn btn-primary") if @is_same_user %>
        </div>
      </div>
    </div>
    <br/>
    <div class="row-fluid text-center">
      <div class="span4">Name: <%= concert.name %></div>
      <div class="span4">Date: <%= concert.pretty_date %></div>
      <div class="span4">Duration: <%= concert.duration %> minutes</div>
    </div>
    <br/> 
    <div class="row-fluid text-center">
      <div class="span4">Artist: <%= concert.challenge.artist_name %></div>
      <div class="span4">Song: <%= concert.challenge.song_name %></div>
      <div class="span4">Genre: <%= concert.genres %></div>
    </div>
    <br/> 
    <div class="row-fluid text-center">
      <%= concert.description %>
    </div>    
  </div>
</div>