<div class="well container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <ul class="thumbnails">
        <li class="span8">
          <% if @musician_profile.photo? %>
            <%= image_tag @musician_profile.photo_url.to_s %>
          <% else %>
            <img data-src="holder.js/200x200" alt="">
          <% end %>
        </li>         
      </ul>
    </div>

    <div class="span6">
      <%= simple_form_for @musician_profile do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, :input_html => {:onchange => 'readURL(this)'}, label: 'Picture',label_html: {:class => 'btn', id: 'musician_profile_photo_btn'} %>
        <%= f.input :edito, as: :text,label: 'Description' %>
        <%= f.input :youtube_url %>
        <%= f.input :facebook_url %>
        <%= f.input :other_url %>
        <%= f.button :submit, :class => 'btn btn-rmys' %>
      <% end %>     
    </div>
  </div>

</div>