<% if @is_same_user %>
<div class="row-fluid">
  <div class="span2 offset5 text-center">
    <% if @musician_profile.can_play_concert? %>
      <%= link_to "Play a Challenge", challenges_path, :class => "btn btn-rmys" %>
    <% end %>
  </div>
  <div class="span1 offset4">
    <%= link_to 'Edit', edit_musician_profile_path(@musician_profile), class: 'btn pull-right' %>
  </div>
</div>
<% end %>

<br/>
<div class="well container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="thumbnails">
        <li class="span10">
          <% if @musician_profile.photo? %>
            <%= image_tag @musician_profile.photo_url.to_s %>
          <% else %>
            <img data-src="holder.js/200x200" alt="">
          <% end %>
        </li>
        <% if @is_same_user %>
          <%= form_for @musician_profile, :html => {:multipart => true, :class => 'photo_form'} do |f| %>
            <p>
              <%= f.file_field :photo %>
              <%= f.submit %>
            </p>
          <% end %>
        
          <li class="span2">
          <a id="musician_profile_photo_btn" class="btn">
            Picture
          </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="span8">
      <h3 class="text-center"><%= @musician_profile.name %></h3>

      <% unless @concerts.empty? %>
        <% @concerts.each do |concert| %>
          <%= render partial: 'concert', object: concert %>
        <% end %>
      <% end %>

      <br/>
      <br/>

      <div class="row-fluid">
        <%= @musician_profile.edito %>
      </div>




    </div>
    <div class="span2">
      <% if @is_same_user %>
        <div class="row-fluid text-right">
          <strong>Balance:</strong> <%= pluralize @musician_profile.balance_credit, 'credit' %>
        </div>
        <br/>
      <% elsif user_signed_in? %>
        <div class="row-fluid">
          <%= link_to 'TIP this Musician','#give-tip-modal', data: {toggle: 'modal'} ,:class => 'btn btn-rmys pull-right' %>
        </div>
        <%= render @tip %>
        <br/>
        <% unless @musician_profile.has_fan?(current_user)%>
          <div class="row-fluid">
            <%= link_to "Become Fan", fan_musicians_path(id: @musician_profile.id), method: :post, :class => "btn pull-right"%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>



  <br/>

  <div class="row-fluid">
    <ul class="no-list">
      <% if @musician_profile.youtube_url.present? %>
        <li class="horizontal"><a id="youtube-url" target="_blank" href="<%= @musician_profile.youtube_url %>"><%= image_tag 'youtube.com.png' %></a></li>
      <% end %>
      <% if @musician_profile.facebook_url.present? %>
        <li class="horizontal"><a id="facebook-url" target="_blank" href="<%= @musician_profile.facebook_url %>"><%= image_tag 'facebook.com.png' %></a></li>
      <% end %>
      <% if @musician_profile.other_url.present? %>
        <li class="horizontal"><a id="other-url" target="_blank" href="<%= @musician_profile.other_url %>"><%= other_url_tag @musician_profile.domain_for_other_url %></a></li>
      <% end %>
    </ul>
  </div>
  <br />

  <div class="row-fluid">
    <%= add_fb_like %>
  </div>

  <hr class="soften"/> 

</div>
