<div class="well container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <ul class="thumbnails">
        <li class="span8">
          <% if @user.photo? %>
            <%= image_tag @user.photo_url %>
          <% else %>
            <img data-src="holder.js/200x200" alt="">
          <% end %>
        </li>
        <% if @is_same_user %>
          <%= form_for @user, :html => {:multipart => true, :class => 'photo_form'} do |f| %>
            <p>
              <%= f.file_field :photo %>
              <%= f.submit %>
            </p>
          <% end %>
        
          <!-- <input id="musician_profile_photo" name="musician_profile[photo]" type="file"> -->
          <a id="user_photo_btn" class="btn">
            Picture
          </a>
        <% end %>
      </ul>
    </div>
    <div class="span6 text-center">
      <h3><%= @user.name %></h3>
    </div>
    <div class="span3 subpattern3">
      <div class="row-fluid text-right">
        <strong>Balance:</strong> <%= pluralize @user.balance.credit, 'credit' %>
      </div>
      <br/>
      <div class="row-fluid">
        <%= link_to 'Buy Credits', new_payment_path, :class => 'btn pull-right', remote: true %>
      </div>
    </div>
  </div>
  <br/>
  <% if @concerts_payed.any? %>
    <div class="row-fluid">
      <h4 class="span3">
        You've tickets for:
      </h4>
      <div class="span4">
        <table class="table subpattern5">
          <% @concerts_payed.each do |concert| %>            
            <tr>
              <td><%= link_to concert.name, concert_path(concert) %></td>
              <td><%= concert.artist %></td>
              <td><%= concert.song %></td>
              <td><%= concert.pretty_date %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>

  <br/>
  <% unless @challenges.empty? %>
    <div class="row-fluid subpattern5">
        <div class="span5">
          <div class="row-fluid">
            <h4>Challenge Sent:</h4>
          </div>
          <% @challenges.each do |challenge| %>
            <div class="row-fluid">
              <div><%= "Artist: #{challenge.artist_name}, Song: #{challenge.song_name}, Genre: #{challenge.genres_list}" %></div>
            </div>
          <% end %>
        </div>
        <% if @concerts_challenged.any? %>
          <div class="span5">
            <div class="row-fluid">
              <h4>Next Concert:</h4>
            </div>
            <% @concerts_challenged.each do |concert| %>
              <div class="row-fluid">
                <%= "Challenge raised by: #{concert.musician_profile.name}, Date: #{concert.pretty_date}" %>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  <% end %>

  <% if @musicians.any? %>
    <div class="row-fluid">
      <h4 class="span3">
        Fan of:
      </h4>
      <div class="span4">
        <table class="table subpattern5">
          <% @musicians.each do |musician| %>
          <tr>
            <td><%= link_to musician, musician_profile_path(musician) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>