<div class="left">
    <%= link_to front_page_path(anchor: 'challenge'), class: 'anchorLink' do %>
  <div class="first-line-corner">CHALLENGE</div>
  <div class="second-line-corner">ROCK MY STAGE</div>
  <div class="third-line-corner">MUSICIANS</div>
  <div class="bottom-description">
    <div>What song are you today?</div>
    <div>Our musicians would love to play it</div>
    <div>for you <span class="orange on-air">ON AIR !</span></div>
    <div><span class="orange">Challenge them</span> for free!</div>
  </div>
  


  <% end %>

</div>



<div class="center">
   <%= link_to front_page_path(anchor: 'on-air'), class: 'anchorLink' do %>
  <div class="first-line-center">WATCH</div>
  <div class="second-line-center">LIVE ONLINE CONCERTS</div>
  <div class="third-line-center">ON AIR</div>
  <div class="bottom-description">
    <div>Watch <span class="orange">our musicians</span> meeting</div>
    <div><span class="orange">your challenges</span> and discover new talents!</div>
  </div>
  <% end %>
</div>


<div class="right">
  <%= link_to perform_path, id: 'perform-link' ,class: 'sign-in-required' ,data: {toggle: 'modal', link_to: challenges_path} do %>
  <div class="first-line-corner">PERFORM</div>
  <div class="second-line-corner">LIVE ONLINE</div>
  <div class="third-line-corner">CONCERTS</div>
  <div class="bottom-description">
    <div>Play <span class="orange">live online concerts</span> from your laptop</div>
    <div>Grow your fanbase by the challenges</div>
    <div><span class="orange">Make money</span></div>
  </div>
  <% end %>
</div>
