<script>
  window.scrollTo(0, 0);
</script>

<a id="home"></a>
<div class="home pattern0 pattern-bg-img">
  <%= render 'home' %>
</div>

<!-- ON AIR -->
<a id="on-air" class="anchor-position"></a>
<div id="show-concert" class="pattern0" style="position: relative;">
  <%= render 'concerts/show' %>
</div>

<!-- CHALLENGE MUSICIAN -->
<a id="challenge"><div class="anchor-position"></div></a>
<div class="pattern0 pattern-bg-img">
  <div class="challenge-wrapper">
  <%= render 'challenges/new' %>
  </div>
</div>