<div class="row-fluid">
  <div class="span8">
    <div class="hero-unit">
      <h3>Hi, we are musicians who care about their fans : we perform online concerts in RmyS: you can send us a challenge for free, and we'll love to play it for you <span class="on-air">ON AIR !</span> </h4>
      <p>
        <a href="#send_challenge" class="btn btn-large">
          ROCK THE MUSICIANS
        </a>
      </p>
      <p>If you are also a musician, then join us for this great experience !</p>
    </div>
  </div>
  <div class="span4">
    <h1>Watch Online Concerts and discover new talents !</h1>
  </div>
</div>

<hr class="soften"/>

<div class="row-fluid">
  <div class="span8 offset2">
    <h3 id="send_challenge">Send a Challenge for free</h3>

    <%= form_for Challenge.new do |f| %>
      <div class="row-fluid">
        <input class="span2 typeahead-genre" type="text" placeholder="Genre" name="challenge[genre]" autocomplete="off">
        <input class="span2 typeahead-artist" type="text" placeholder="Artist" name="challenge[artist]" autocomplete="off">
        <input class="span2 typeahead-song" type="text" placeholder="Song" name="challenge[song]" autocomplete="off">
      </div>
    
    <input class="btn btn-large" value="ROCK THE MUSICIANS" name="commit" type="submit">
    <a class="btn btn-primary btn-large">
      ROCK MY STAGE
    </a>
    <% end %>
  </div>
</div>

