<div class="broadcast-wrapper">
  <iframe frameborder="0" width="640" height="480" src="http://livevideo.infomaniak.com/iframe.php?stream=test_rmys&name=testing&player=1652"></iframe>  
  <br />
</div>