<div id="buy-ticket-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <%= form_for [@concert,@ticket], method: :post, remote: true, :class => '' do |f| %>
    <div class="span6 offset3">
      <% @ticket.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
      <% end %>
    </div>
    <div class="span12">
      <div class="row-fluid">
        <div class="span10 offset1 subpattern1 subpattern2">
          <div class="row-fluid">
            <strong>1 EUR = 10 Credits</strong> allows you to buy tickets or tip the musicians at the price you want!
          </div>
          <br/>
          <div class="row-fluid">
            Your Current Credits Balance: <%= current_user.balance_credit %>
          </div>
          <% if @user_musician_profile %>
            <div class="row-fluid">
              Your Musician Credits: <%= @user_musician_profile.balance.credit %>
            </div>
          <% end %>
          <div class="row-fluid">
            <div class="row-fluid form-inline subpattern3">
              <%= f.label :donation, 'Buy a ticket for 10 credits +'%>
              <%= f.text_field :donation, class: 'span2' %>
            </div>
            <br/>
            <div class="form-actions">
              <%= f.hidden_field :concert_id %>
              <%= f.hidden_field :user_id %>
              <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <%= f.button 'Buy', type: :submit ,:class => 'btn btn-rmys pull-right' %>
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>