<div class="span7 draw-border">
  <div id ="concert-description" class="row-fluid">
    <div class="span3">
      <ul class="thumbnails">
        <li class="span12">
          <% if @concert.musician_profile.photo? %>
            <%= image_tag @concert.musician_profile.photo_url %>
          <% else %>
            <img data-src="holder.js/200x200" alt="">
          <% end %>
        </li>
      </ul>
    </div>
    <div class="span9 subpattern1">
      <div class="row-fluid">
        DATE: <%= @concert.pretty_date %>
      </div>
      <div class="row-fluid">
        COUNTDOWN: <%= @concert.countdown %>
      </div>
      <div class="row-fluid">
        COVER NAME: <%= @concert.challenge.song_name %> / <%= @concert.challenge.artist_name %>
      </div>
      <div class="row-fluid">
        Musician NAME: <%= link_to @concert.musician, musician_profile_path(@concert.musician) %>
      </div>
      <div class="row-fluid">
        DURATION: <%= pluralize(@concert.duration, 'minute') %>
      </div>
      <div class="row-fluid">
        <%= @concert.description %>
      </div>
    </div>
  </div>

  <div class="row-fluid buy-wrapper">
    <div class="span9 offset3">
      <% if user_signed_in? && !current_user.has_ticket?(@concert) %>
        <%= link_to 'BUY TICKET', '#buy-ticket-modal', data: {toggle: 'modal'}, :class => 'btn btn-buy-ticket' %>
        <%= render @ticket %>
      <% elsif !user_signed_in? %>
        <%= link_to 'BUY TICKET', '#log-in-modal', data: {toggle: 'modal', link_to: root_path}, :class => 'btn btn-buy-ticket sign-in-required' %>
      <% end %>
    </div>
  </div>

  <div class="row-fluid play-wrapper">
    <%= link_to show_concert_broadcast_path(@concert), data: {toggle: 'modal', link_to: root_path}, class: 'sign-in-required', remote: true do %>
      <div class="span9 offset3">
        <div class="arrow-right"></div>
        PLAY
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= render @tip %>
  <% end %>
  <div class="row-fluid">
    <%= link_to give_tip_path(@concert.musician_profile), data: {toggle: 'modal', link_to: root_path}, class: 'sign-in-required' do %>
      <div class="give-tip">
        TIP this Musician
      </div>
    <% end %>
  </div>

</div>