<div class="center-online">
  <div class="first-line">WATCH</div>
  <div class="second-line">LIVE ONLINE CONCERTS</div>
  <div class="third-line">ON AIR</div>
</div>

<% if @concert %>
  <%= div_for @concert, class: "row" do %>
    <%= render 'concerts/concert_description' %>
    <div class="span4 draw-border pattern4">
      <div class="row-fluid subpattern4">
        FANS LIST
      </div>
      <br/>
      <% @concert.musician_profile.fans.each do |fan| %>
      <div class="row-fluid">
        <%= fan.name %>
      </div>
      <% end %>
    </div>
  <% end %>

  <%= link_to on_air_path(@concert.previous), remote: true, id: 'previous_concert' do %>
    <div class="previous-wrapper">
      <div class="previous left-arrow orange-arrow">
      </div>
    </div>  
  <% end if @concert.previous %>

  <%= link_to on_air_path(@concert.next), remote: true, id: 'next_concert' do %>
    <div class="next-wrapper">
      <div class="next right-arrow orange-arrow">
      </div>
    </div>
  <% end if @concert.next %>
<% end %>