<%= form_for(@concert) do |f| %>
  <% @concert.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  <%= f.hidden_field :challenge_id %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    Duration in minutes:
    <div class="control-group form-inline">
    <%= f.radio_button(:duration, '10') %>
    <%= f.label(:duration, '10') %>
    <%= f.radio_button(:duration, '30') %>
    <%= f.label(:duration, '30') %>
    </div>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>
  <%= f.button 'Create', type: :submit, :class => "btn btn-rmys" %>
<% end %>