<div class="row-fluid pattern1">
  <div class="span6 offset3 draw-border">
    <div class="row-fluid">
      <div class="span10 offset1 subpattern1 subpattern2">
        <div class="row-fluid">
          <strong>1 EUR = 10 Credits</strong> allows you to buy tickets or tip the musicians at the price you want!
        </div>
        <br/>
        <div class="row-fluid">
          Your Current Credits Balance: <%= @user.balance.credit %>
        </div>
        <br/>
        <div class="row-fluid">
          Get credits to see musicians meeting challenges!
        </div>
        <br/>
        <div class="row-fluid">
          <%= form_for @payment, html: {:class => 'form-inline subpattern3'} do |f| %>
            <%= f.label :amount, 'Purchase Credits' %>
            <%= f.text_field :amount, :class => 'input-small' %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <div class="form-actions">
              <%= hidden_field_tag :redirect, @url %>
              <%= f.button 'Continue', type: :submit ,:class => 'btn btn-rmys pull-left' %>
              <%= link_to 'Cancel', @url, :class => 'btn btn-primary pull-right' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>