<div class="center-challenge">
  <div class="first-line">CHALLENGE</div>
  <div class="second-line">ROCK MY STAGE</div>
  <div class="third-line">MUSICIANS</div>
</div>

<div class="challenge_form">
  <%= form_for @challenge do |f| %>

      <% if @challenge.errors.any?%>
        <p><%= @challenge.errors.inspect %></p>
      <% end %>

    <% if user_signed_in? %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <% end %>

    <div class="row-fluid">
       

          
       <div class="dropdown">

      <%= f.fields_for :genres do |ff| %>
        <%= ff.select :name, @genres, {prompt: "Genre"}, {class: "select-genre"} %>
      <% end %>
            
      <%= f.fields_for :song do |ff| %>
        <%= ff.fields_for :artist do |fff| %>
          <%= fff.text_field :name, class: 'span4 typeahead-artist', placeholder: "Artist", autocomplete: 'off' %>
        <% end %>
        <%= ff.text_field :name, class: 'span4 typeahead-song', placeholder: 'Song', autocomplete: 'off' %>
      <% end %>

    </div>
     </div>
  <% if user_signed_in? %>
    <input class="btn btn-send btn-center" value="SEND" name="commit" type="submit">
  <% else %>
    <a href="#log-in-modal" data-toggle="modal" class="btn btn-send btn-center">SEND</a>
  <% end %>

  <% end %>
</div>