<table id="sortable-table"class="table table-striped tablesorter">

  <thead>
    <tr>
      <td><strong><%= sortable 'genre' %>
        <div class="<%= css_class('genre') %>"></div>  
      </strong></td>
      <td><strong><%= sortable 'artist' %>
        <div class="<%= css_class('artist') %>"></div> 
      </strong></td>
      <td><strong><%= sortable 'song' %>
        <div class="<%= css_class('song') %>"></div> 
      </strong></td>
      <td><strong>Action</strong></td>
    </tr>
  </thead>

  <tbody>
  <% @challenges.each do |challenge| %>
    <tr id="<%= dom_id challenge %>">
      <td><%= challenge.genres_list %></td>
      <td><%= challenge.artist %></td>
      <td><%= challenge.song %></td>
      <td><%= link_to "PLAY", new_concert_path(challenge: challenge.id), :class => "btn" %></td>
    </tr>
    <% end %>
  </tbody>
</table>