/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap_and_overrides
 *= require_tree .
 */
 

@font-face {
  font-family: "HelveticaLTCondensed";
  src: font-url('Helvetica-LT-47-Light-Condensed.eot');
  src: font-url('Helvetica-LT-47-Light-Condensed.eot?#iefix') format('embedded-opentype'),
       font-url('Helvetica-LT-47-Light-Condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueBlackCond';
    src: font-url('HelveticaNeue-BlackCond.eot');
    src: font-url('HelveticaNeue-BlackCond.eot?#iefix') format('embedded-opentype'),
         font-url('HelveticaNeue-BlackCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueLight';
    src: font-url('HelveticaNeue-Light.eot');
    src: font-url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
         font-url('HelveticaNeue-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: font-url('HelveticaNeueCondensedBold.eot');
    src: font-url('HelveticaNeueCondensedBold.eot?#iefix') format('embedded-opentype'),
         font-url('HelveticaNeueCondensedBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.notice-container {

  margin-bottom: 21px 
}

.alert {
  z-index: 1000;
}

.brand {
  padding: 0 20px !important;
}

body {
  background-color: #0d0d0d;
}

.orange {
  color: #ff7e2e;
}

.on-air {
  font-weight: bold;
}

.on-air:hover {
  color: #c96400;
}

.logoimg{margin:2px 0 0;}

// ul.nav li a {
//   color: white !important;
// }

