.chosen_nav{
  background-color: #ff7e2e;
  background-image: none;
  a {
    color: white !important;
  }

  a:hover {
    background-color: #ff7e2e !important;
    background-image: none !important;
  };
}


.center-challenge {
  text-align: center; 
  width:400px;
  position:relative;
  left:50%;
  top:200px;
  margin:0 0 0 -200px;
  line-height: 1.15;
}


$fl_color: #848484;
$sl_color: #fff;
$tl_color: #fff;

$hltc_font: "HelveticaLTCondensed", Helvetica, arial, sans-serif;
$hnbc_font: "HelveticaNeueBlackCond", "Helvetica neue", arial, sans-serif;

.center-challenge{
    .first-line {
    color: $fl_color !important;
    font-size: 3.4em !important;
    font-family: $hltc_font;
  }
}

.center-challenge{
  .second-line{
    color: $sl_color !important;
    font-size: 1.7em !important;
    font-family: $hltc_font;
  }
}

.center-challenge{
  .third-line {
    color: $tl_color !important;
    font-size: 2.9em !important; 
    font-weight: bold !important;
    font-family: $hnbc_font;
  }
}


.challenge_form{
  position: relative;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  top: 300px;
}


.btn-rmys{
  background-color: #ff7e2e;
  background-image: none;
}

.btn-rmys:hover{
  background-color: #c96400;
  background-image: none;
}



.btn-center {
  position: relative;
  width: 100px !important;
  left: 50%;
  margin-left: -50px;
  top: 50px;
  background-color: #ff7e2e;
  background-image: none;
}

.btn-center:hover{
  background-color: #c96400;
  background-image: none;
}

.checklist-label{
  display: inline-block;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 4px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;

  height: 21px;
  padding: 4px 6px;
  margin-bottom: 10.5px;
  font-size: 14px;
  line-height: 21px;
  color: #7a8288;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;

  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
}

.dropdown.open {
  .checklist-label {
    background-color: white;
    color: rgb(82, 87, 92);
  }

  .caret-checklist{
    border-top-color: rgb(82, 87, 92) !important;
  }
}


.checklist-dropdown{
  top: 28px;
  margin-left: 0;
  width: 31.491712707182323%;
  *width: 31.491712707182323%;
}

.caret-checklist{
  border-top-color: #7a8288 !important;
}

.checkbox {
  margin-left: 11px;
}

// .dropdown-span4{
//   width: 31.914893617021278%;
//   *width: 31.861702127659576%;
// }

.asc { 
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid white;
  margin-left: 10px;
}


.desc { 
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid white;
  margin-left: 10px;
}
