.center-online {
  text-align: center; 
  width:400px;
  left:50%;
  margin:5px auto 0 auto;
  line-height: 1.15;
}

$fl_color: #848484;
$sl_color: #fff;
$tl_color: #fff;

@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: font-url('HelveticaNeueCondensedBold.eot');
    src: font-url('HelveticaNeueCondensedBold.eot?#iefix') format('embedded-opentype'),
         font-url('HelveticaNeueCondensedBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$hltc_font: "HelveticaLTCondensed", Helvetica, arial, sans-serif;
$hnbc_font: "HelveticaNeueBlackCond", "Helvetica neue", arial, sans-serif;
$hncbold_font: "HelveticaNeueCondensedBold", "Helvetica neue", arial, sans-serif;

.center-online{
    .first-line {
    color: $fl_color !important;
    font-size:5em !important;
    font-family: $hltc_font;
  }
}

.center-online{
  .second-line{
    color: $sl_color !important;
    font-size: 1.6em !important;
    font-family: $hltc_font;
  }
}

.center-online{
  .third-line {
    color: $tl_color !important;
    font-size:5em !important; 
    font-weight: bold !important;
    font-family: $hnbc_font;
  }
}

.draw-border {
  border: 1px solid #838383;
}

.subpattern1 {
  font-size: 1.4em;
}

.subpattern1 .row-fluid {
  margin-top: 3%;
}

.btn-buy-ticket{
  padding: 10px 20px;
  font-family: $hncbold_font;
  font-size: 1.8em;
  background-color: #ff7e2e;
  background-image: none;
  margin: 0 auto;
}


.btn-buy-ticket:hover{
  background-color: #c96400;
  background-image: none;
}

.buy-wrapper{
  margin: 10% auto 4%;
}
.play-wrapper{
  font-size: 1.8em;
}
.arrow-right {
  display: inline-block;
  position: relative;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 14px solid #ff7e2e;
}

.give-tip{
  font-family: $hncbold_font;
  font-size: 1.5em;
  color: #ff7e2e;
  margin: 5% 20px 20px;
}

.previous-wrapper{
  position: absolute;
  top: 42px;
  min-width: 50px;
  width: 8.3%;
  bottom: 0;
  left: 0;
}

.next-wrapper{
  position: absolute;
  top:42px;
  min-width: 50px;
  width: 8.3%;
  bottom: 0;
  right: 0;
}

.next-wrapper:hover > .next, .previous-wrapper:hover > .previous {
  visibility: visible;
};

.previous{
  position: fixed;
  top: 50%;
  height: 20px;
  margin-top: -32px;
  left: 18px;
  visibility: hidden;
  border-width: 3px !important;
}

.next{
  position: fixed;
  top: 50%;
  height: 20px;
  margin-top: -32px;
  right: 18px;
  visibility: hidden;
  border-width: 3px !important;
}

.right-arrow{
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

.left-arrow{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pattern4{
  padding-left: 10px;
  .subpattern4{
    margin-top: 10px;
  }
}

.concert{
  width: 1100px;
  margin: 0 auto;
  > div.span7{
    width: 640px;
    margin-left: -90px;
  }
}