// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  min-height: 600px !important;
  min-width: 1100px;
  margin-top: 50px;
}

.center {
  text-align: center; 
  width:400px;
  position:relative;
  left:50%;
  top:-35px;
  margin:0 0 0 -200px;
  line-height: 1.15;
}

.left {
  text-align: center; 
  width:400px;
  height:150px;
  position:relative;
  left:20%;
  top:246px;
  margin:0 0 0 -200px;
  line-height: 1.3;
}

.right {
  text-align: center; 
  width:400px;
  height:150px;
  position:relative;
  left:80%;
  top:-379px;
  margin:0 0 0 -200px;
  line-height: 1.3;
}


$fl_color: #848484;
$sl_color: #fff;
$tl_color: #fff;

$hltc_font: "HelveticaLTCondensed", Helvetica, arial, sans-serif;
$hnbc_font: "HelveticaNeueBlackCond", "Helvetica neue", arial, sans-serif;


.left, .right{
    .first-line-corner {
    color: $fl_color !important;
    font-size: 3em !important;
    font-family: $hltc_font;
  }
}

.left, .right{
  .second-line-corner {
    color: $sl_color !important;
    font-size: 1.7em !important;
    font-family: $hltc_font;
  }
}

.left, .right{
  .third-line-corner {
    color: $tl_color !important;
    font-size: 2.9em !important; 
    font-weight: bold !important;
    font-family: $hnbc_font;
  }
}

div.first-line-center{
  color: $fl_color !important;
  font-size:8.4em !important;
  font-family: "HelveticaLTCondensed", Helvetica, arial, sans-serif;
}
div.second-line-center{
  color: $sl_color !important;
  font-size: 2.8em !important;
  font-family: $hltc_font;
}
.third-line-center{
  color: $tl_color !important;
  font-size: 8.0em !important; 
  font-weight: bold !important;
  font-family: $hnbc_font;
}

.bottom-description {
  margin-top: 70px;
  font-family: "HelveticaNeueLight", "Helvetica neue", arial, sans-serif;
  font-size: 1.4em;
  min-height: 76px;
}

.orange-arrow {
  width: 42px;
  height: 42px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #ff7e2e;
}

.home-arrow{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  left: 50%;
  margin-left: -21px;
  top: 10px;
}

.perform-arrow{
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  float: right;
  position: relative;
  top: -42px;
  left: -75px;
}

.pattern0{
  height: 800px;
  margin-bottom: 100px;
}

.pattern-bg-img{
  background: image-url('hp-img-crowd.jpg') no-repeat !important;
  background-position: 50% -30% !important;
}

.challenge-wrapper{
  position: relative;
  top: -60px;
}

.anchor-position{
  height: 50px;
  display: block;
}

.nav-perform{
  height: 10px;
  width: 10px;
  position: relative;
  top: 6px;
  // right: 40px;
  float: right;
}
.logoimg{}

.left { text-align:center; width:400px; height:150px; position:relative; left:20%; top:246px; margin:0 0 0 -200px; line-height:1.3 }
.left a{ text-decoration:none; background:url("aerrow.png") no-repeat scroll center 332px transparent; float:left; padding-bottom:70px; width:400px;}
.left a:hover{ text-decoration:none; background:url("aerrow-hover.png") no-repeat scroll center 332px transparent;}

.center { text-align:center; width:500px; position:relative; left:50%; top:-271px; margin:0 0 0 -255px; line-height:1.15}
.center a{ text-decoration:none; background:url("aerrow.png") no-repeat scroll center 480px transparent; float:left; padding-bottom:85px;
width:500px;}
.center a:hover{ text-decoration:none; background:url("aerrow-hover.png") no-repeat scroll center 480px transparent;}

.right {text-align:center; width:400px; height:150px; position:relative; left:80%; top:-675px; margin:0 0 0 -200px; line-height:1.3}
.right a{ text-decoration:none; background:url("right-aerrow.png") no-repeat scroll right 76px transparent; float:left; padding-bottom:61px;
width:400px;}
.right a:hover{ text-decoration:none; background:url("right-aerrow-hover.png") no-repeat scroll right 76px transparent}

.broadcast-wrapper{
  width: 830px; // This must be the same width as the Flash player
  margin: 0 auto;
}
