// Place all the styles related to the MusicianProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-list {
  list-style-type: none;
}

.horizontal{
  display: inline;
}

#musician_profile_photo{
  display: none;
  visibility: hidden;
}

.photo_form{
  display: none;
}

.well-inverse{
  background-color: #43474b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 3%;
}

.concert-area{
  font-size: 1.3em;
}

.concert-area .row-fluid .offset2 {
  margin-left: 17.094017094017094% !important;
}