// Place all the styles related to the validations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subpattern2{
  margin-bottom: 30px;
}

.pattern1{
  margin-top: 5%;
}