<div class="row-fluid pattern1">
  <div class="span6 offset3 draw-border">
    <div class="row-fluid">
      <div class="span3">
        <ul class="thumbnails">
          <li class="span12">
            <!-- <a href="#" class="thumbnail"> -->
              <% if @musician_profile.photo? %>
                <%= image_tag @musician_profile.photo_url %>
              <% else %>
                <img data-src="holder.js/200x200" alt="">
              <% end %>
            <!-- </a> -->
          </li>
        </ul>
      </div>
      <div class="span9 subpattern1 subpattern2">
        <div class="row-fluid">
          NAME: <%= @musician_profile.name %>
        </div>
        <div class="row-fluid">
          DESCRIPTION: <%= @musician_profile.edito %>
        </div>
        <div class="row-fluid">
          YOUTUBE: <%= @musician_profile.youtube_url %>
        </div>
        <div class="row-fluid">
          OTHER: <%= @musician_profile.other_url %>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>
<div class="row-fluid">
  <div class="span6 offset3">
    <%= link_to 'ACCEPT', accept_path(@validation), method: :post, :class => 'btn btn-rmys pull-left' %>
    <%= link_to 'REJECT', reject_path(@validation), method: :post, :class => 'btn pull-right' %>
  </div>
</div>
<%= link_to pending_validations_path(@validation.previous) do %>
  <div class="previous-wrapper">
    <div class="previous left-arrow orange-arrow">
    </div>
  </div>  
<% end %>

<%= link_to pending_validations_path(@validation.next) do %>
  <div class="next-wrapper">
    <div class="next right-arrow orange-arrow">
    </div>
  </div>
<% end %>