<div id="give-tip-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>

    <div class="span12">
      <div class="row-fluid">
        <div class="span10 offset1 subpattern1 subpattern2">
          <div class="row-fluid">
            <strong>1 EUR = 10 Credits</strong> allows you to buy tickets or tip the musicians at the price you want!
          </div>
          <br/>
          <div class="row-fluid">
            Your Current Credits Balance: <%= current_user.balance.credit %>
          </div>
          <% if @user_musician_profile %>
            <div class="row-fluid">
              Your Musician Credits: <%= @user_musician_profile.balance.credit %>
            </div>
          <% end %>
          <br/>
          <div class="row-fluid">
            Choose how much you give to <span class="orange">this</span> musician !
          </div>
          <br/>
          <div class="row-fluid">
            <%= form_for [@musician_profile,@tip], method: :post, remote: true, html: {:class => 'form-inline subpattern3'} do |f| %>
              <%= f.label :amount, 'Tip' %>
              <%= f.text_field :amount, :class => 'input-small' %>
              <%= f.hidden_field :musician_profile_id %>
              <%= f.hidden_field :user_id %>
              <%= hidden_field_tag :redirect, @url %>
              <div class="form-actions">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <%= f.button 'Buy', type: :submit ,:class => 'btn btn-rmys pull-right' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>


