<% unless user_signed_in? %>
  <div id="log-in-modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Sign in</h3>
    </div>
    <%= simple_form_for :user, url: user_session_path do |f| %>
      <div class="modal-body">
        <%= hidden_field_tag 'link_to', nil, class: 'link_to' %>
        <div class="form-inputs">
          <%= f.input :email, :required => false, :autofocus => true %>
          <%= f.input :password, :required => false %>
        </div>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, "Log in" %>
    </div>
    <% end %>
  </div>



  <div id="sign-up-modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Sign up</h3>
    </div>
    <%= simple_form_for :user, url: user_registration_path do |f| %>
      <div class="modal-body">
      
      <%= f.error_notification %>
        <%= hidden_field_tag 'link_to', root_path, class: 'link_to' %>
      <div class="form-inputs">
        <%= f.input :email, :required => true, :autofocus => true %>
        <%= f.input :name, :required => true, :autofocus => true %>
        <%= f.input :password, :required => true %>
        <%= f.input :password_confirmation, :required => true %>
      </div>

    </div>
    <div class="modal-footer">
      <%= f.button :submit, "Sign up" %>
    </div>
    <% end %>
  </div>
<% end %>