<div class="container-fluid nav-collapse">
  <ul class="nav pull-left">
    <form class="navbar-search">
      <input type="text" name="name" class="search-query typeahead-user-profile" placeholder="Search" autocomplete="off">
    </form>
  </ul>
  <ul class="nav pull-right">
    <% if admin_signed_in? %>
      <li><%= link_to 'Admin Area', rails_admin_path %></li>
      <li><%= link_to 'Validations', validations_path %></li>
    <% end %>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <% if user_signed_in? %>
          <%= show_musician_name.capitalize %>
          <b class="caret"></b>
        <% else %>
          Profile
        <% end %>
      </a>
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
          <% if current_user.musician_profile.present? %>
            <li><%= link_to "Musician / Band", musician_profile_path(current_user.musician_profile)%></li>
          <% else %>
            <li><%= link_to "Musician / Band", new_musician_profile_path %></li>
          <% end %>
          <li><%= link_to "Fan", user_path(current_user)%></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href="#log-in-modal" data-toggle="modal">Sign in</a></li>
          <li><a href="#sign-up-modal" data-toggle="modal">Sign up</a></li>  
        <% end %>
      </ul>
    </li>
    <li>
      <%= link_to perform_path, class: 'sign-in-required' ,data: {toggle: 'modal', link_to: challenges_path} do %>
        <div class="orange-arrow nav-perform right-arrow"></div>
         PERFORM LIVE ONLINE
      <% end %>
    </li>
  </ul>
</div><!--/.nav-collapse -->
