<div class="navbar navbar-fluid-top navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to front_page_path(anchor: 'home'), :class => "brand anchorLink" do %>
        <%= image_tag 'logo.png',:class => "logoimg" %>
      <% end %>
        <ul class="nav">
          <li class="<%= yield(:onair_nav) %>"><%= link_to "ON AIR", front_page_path(anchor: 'on-air'), class: 'anchorLink' %></li>
          <li class="<%= yield(:challenge_nav) %>"><%= link_to "CHALLENGE MUSICIANS", front_page_path(anchor: 'challenge'), class: 'anchorLink' %></li>
        </ul>
      <%= render 'layouts/nav_session' %>
    </div>
  </div>
</div>
